{% extends 'base.html' %}
{% load i18n %}

{% block additional-headers %}
<script src="https://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.pagination.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/sammy-0.7.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/sammy-plugins/sammy.meld-0.7.1.min.js"></script>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans "Browse Form Data" %}
        <small><a href="{% url "main.views.show" username id_string %}">{{ xform.title }}</a></small>
        <small> | </small>
        <small><a href="{% url "odk_viewer.views.data_view" username id_string %}">{% trans "Data View" %}</a></small>
    </h1>
</div>

<div id="loading">
  <p> Loading... </p>
  <img id="loading-image" src="/static/images/ajax-loader.gif" alt="Loading..." />
</div>

<div id="data"></div>
<script type="text/javascript">
var formJSONUrl = "{% url "odk_logger.views.download_jsonform" username id_string %}";
var mongoAPIUrl = "{% url "main.views.api" username id_string %}";
var deleteAPIUrl = "{% url "main.views.delete_data" username id_string %}";
var app; // sammy app
var questions = {};
var questionsTree = {"question":null, "questions":[]};
var languages = [];
// TODO: this re should only accept valid js variable names so numbers/letter/underscore
var cleanRe = /[\[\]\/]/g; // regular expression used to clean names with slashes
var cleanReplacement = '_';
var positionTpl = "{% trans 'Record {pos} of {total}' %}";
var numRecords = null;
var browsePos = null;

(function($) {

  var _isFirstLoad = true

  app = $.sammy('#data', function() {
      this.use('Meld');

      // index route
      this.get('#/', function(context) {
          /// get the first response object
          // only re-direct if this is the first time
          if(_isFirstLoad)
              redirectToFirstId(context)
          else
              history.go(-2)// we first load instance, then redirect to instance#/ then to instance#/:id s we need to go back 2
          _isFirstLoad = false
      });

      // #/id route
      this.get('#/:id', function(context) {
          var id = this.params['id'];
          var query = '{"_id": ' + id + '}';
          _isFirstLoad = false
          loadData(context, query);
      });

      // #uuid/uuid route
      this.get('#uuid/:uuid', function(context) {
          var uuid = this.params['uuid'];
          var query = '{"_uuid": "' + uuid + '"}';
          _isFirstLoad = false
          loadData(context, query);
      });


      // Delete modal
      this.get('#del/:id', function(context) { with(this) {

            $("#delete-modal").modal("show");

      }
      });


      // Delete route
      this.get('#delete/:id', function(context) {

          var id = this.params['id'];
          var next = $('li.next').children('a').attr('href');
          next = next.replace("#/", "");

          var prev = $('li.prev').children('a').attr('href');
          prev = prev.replace("#/", "");
          var redirect_route = '#/';

          if(next > 0 && next != id ){
              redirect_route = '#/'  + next;
          }
          else if(prev > 0 && prev != id ){
              redirect_route = '#/'  + prev;
          }

          deleteData(context, id, redirect_route);
      });
      this.bind('error', {}, function(){
          //alert('Invalid route requested')
          //app.setLocation('#/');
      })

  });

  /// load form structure
  $.getJSON(formJSONUrl)
      .success(function(data){
              parseQuestions(data.children);
              parseLanguages(data.children);
              // load count
              $.getJSON(mongoAPIUrl, {'count': 1})
                  .success(function(data){
                          //todo: count num records before and num records after so we know our starting point
                          numRecords = data[0]["count"];
                          // load id of first record
                          app.run('#/');
                      })
          });

})(jQuery);

function redirectToFirstId(context)
{
    $.getJSON(mongoAPIUrl, {'limit': 1, 'fields': '["_id"]', 'sort': '{"_id": 1}'})
            .success(function(data){
                if(data.length > 0)
                    context.redirect('#/' + data[0]['_id']);
            })
            .error(function(){
                app.run('#/');
            })
}

function deleteData(context, data_id, redirect_route){
    //TODO: show loader
    $.post(deleteAPIUrl, {'id': data_id})
            .success(function(data){
                // update data count
                $.getJSON(mongoAPIUrl, {'count': 1})
                        .success(function(data){
                            //todo: count num records before and num records after so we know our starting point
                            numRecords = data[0]["count"];
                            // redirect
                            context.redirect(redirect_route);
                        })
            })
            .error(function(){
               alert("{% trans 'BAD REQUEST' %}");
            })
}

function loadData(context, query)
{

    //TODO: show loader
    $.getJSON(mongoAPIUrl, {'query': query, 'limit':1})
            .success(function(data){
                reDraw(context, data[0]);

                //ADD EDIT AND BUTTON CHECK PERMISSION
                updateButtons(data[0]);

                //alert(data[0]['_id']);
                // check if we initialised the browsePos
                if(false)//TODO: find a way to increment browsePos client-side
                {
                    updatePrevNextControls(data[0]);

                    // update pos status text
                    updatePosStatus();
                }
                else
                {
                    $.getJSON(mongoAPIUrl, {'query': '{"_id": {"$lt": ' + data[0]['_id'] +'}}', 'count': 1})
                            .success(function(posData){
                                browsePos = posData[0]["count"] + 1;
                                updatePrevNextControls(data[0]);
                            });
                }
            })
            .error(function(){
                alert("{% trans 'BAD REQUEST' %}");
            })
}

function setLanguage(language)
{
    var idx = languages.indexOf(language);
    if(idx>-1)
    {
        $('span.language').hide();
        $(('span.language-' + idx)).show();
    }
}

function updatePosStatus()
{
    var posText = positionTpl.replace('{pos}', browsePos);
    posText = posText.replace('{total}', numRecords);
    $('.record-pos').html(posText);
}

function updateButtons(data){

    //Make Edit Button visible and add link

    var editbutton = $('a.bind-edit');
    editbutton.removeClass('disabled');
    editbutton.attr('href', 'edit-data/' + data['_id']);


     //Make Delete Button visible and add link
    var deletebutton = $('a.btn-danger');
    deletebutton.removeClass('disabled');
    deletebutton.attr('href', '#del/' + data['_id']);
    $('a.btn-primary').attr('href', '#delete/' + data['_id']);
}

function updatePrevNextControls(data)
{
    // load next record
    $.getJSON(mongoAPIUrl, {'query': '{"_id": {"$gt": ' + data['_id'] +'}}', 'limit': 1, 'sort': '{"_id":1}', 'fields':'["_id"]'})
            .success(function(nextData){
                var nextButton = $('li.next');
                if(nextData.length > 0)
                {
                    nextButton.removeClass('disabled');
                    nextButton.children('a').attr('href', '#/' + nextData[0]['_id']);
                }
                else
                {
                    nextButton.addClass('disabled');
                    // make next url "the" current url
                    nextButton.children('a').attr('href', '#/' + data['_id']);
                }
                // update pos status text
                updatePosStatus();
            });
    // load previous record
    $.getJSON(mongoAPIUrl, {'query': '{"_id": {"$lt": ' + data['_id'] +'}}', 'limit': 1, 'sort': '{"_id":-1}', 'fields':'["_id"]'})
            .success(function(prevData){
                var prevButton = $('li.prev');
                if(prevData.length > 0)
                {
                    prevButton.removeClass('disabled');
                    prevButton.children('a').attr('href', '#/' + prevData[0]['_id']);
                }
                else
                {
                    prevButton.addClass('disabled');
                    // make prev url "the" current url
                    prevButton.children('a').attr('href', '#/' + data['_id']);
                }
                // update pos status text
                updatePosStatus();

                // if we haven't checked our position before
                if(browsePos)
                {
                    // get num records before

                }
            });
}

function _attachment_url(name, size)
{
    return '{% url "odk_viewer.views.attachment_url" %}' + size + '?media_file=' + '{{ username }}/attachments/' + name;
}
function _attachment_abs_url(name, size)
{
    return '{% url "odk_viewer.views.attachment_url" %}' + size + '?media_file=' + name;
}

function cleanValue(cleanKey, value, valueIsArray) {
    function isString(o) {
        return typeof o == "string" || (typeof o == "object" && o.constructor === String);
    }
    var multivalued = $.isArray(value);
    var repeatvalue = false;
    var qtype = null;
    if(questions.hasOwnProperty(cleanKey)){
        qtype = questions[cleanKey].type;
    }
    if(qtype  == "repeat") {
        multivalued = true;
        repeatvalue = true;
    }
    if(multivalued) {
        var tnit = {};
        var nval = [];
        var inner = false;
        // if(repeatvalue) console.log(value);
        $.each(value, function(i, itm) {
            // associative / indexed arrays
            if(isNaN(i)) {
                if(repeatvalue) {
                    inner = true;
                    var sk = i.replace(cleanRe,
                        cleanReplacement);
                    tnit[sk] = cleanValue(sk, itm);
                } else {
                    var nit = {};
                    $.each(itm, function(ip, sitm) {
                        var sk = ip.replace(cleanRe,
                            cleanReplacement);
                        nit[sk] = cleanValue(sk, sitm);
                    });
                    nval.push(nit);
                }
            }
            else {
                var svalue = cleanValue(cleanKey, itm);
                if((!repeatvalue) || (repeatvalue && !inner)) {
                    nval.push(svalue);
                }
            }
        });
        if(repeatvalue && inner) {
            nval = tnit;
        }
        value = nval;
    }
    if(qtype || (cleanKey == '_attachments' && !multivalued)) {
        var atype = qtype;
        if (cleanKey == '_attachments') {
            atype = 'image';
        }
        if (atype == 'geopoint') {
            value = $('<div/>').append($('<div/>')
            .attr('data-latln', value)
            .addClass("instance-map")
            .attr("id", "map-" + cleanKey)
            .append('<div class="map"/>')).html();
        }
        if(atype == 'image' || atype == 'photo') {
            // check if its an image, audio or video and create thumbs or links to
            var func = _attachment_url;
            if(cleanKey == '_attachments') {
                func = _attachment_abs_url;
            }
            var src = func(value, 'small');
            var href = func(value, 'medium');
            var imgTag = $('<img/>').attr('src', src);
            value = $('<div>').append($('<a>').attr('href', href).attr('target', '_blank').append(imgTag)).html();
        }
        else if(atype == 'audio' || atype == 'video')
        {
            var href = _attachment_url(value, 'medium');
            value = $('<div>').append($('<a>').attr('href', href).attr('target', '_blank').append(value)).html();
        }
    }
    return value;
}

function reDraw(context, data)
{
    // make sure we have some data, if the id was in valid we would gte a blank array
    if(data)
    {
        var cleanData = {};
        var key;
        for(key in data)
        {
            var value = data[key];
            var cleanKey = key.replace(cleanRe, cleanReplacement);
            cleanData[cleanKey] = cleanValue(cleanKey, value);
        }
        // check if table has been created, if not reCreate
        if($('#data table').length == 0)
            createTable();
        // clear data cells before we re-populate
        $('#data table td.leaf[data-key]').html('');
        context.meld( $('#data'), cleanData, {
            selector: function(k) {
                k = k.replace(cleanRe, cleanReplacement);
                return '[data-key="' + k + '"]';
        }});
        $('.instance-map').each(function(i, itm){
            try {
                var jqitm = $(itm);
                var latlng = jqitm.data('latln').split(" ");
                var myLatlng = new google.maps.LatLng(
                    latlng[0], latlng[1]);
                var mapOptions = {
                    center: myLatlng, zoom: 4,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                }
                var mapdiv = $(".map", itm);
                mapdiv.css('width' , "300px");
                mapdiv.css('height', "300px");
                var map = new google.maps.Map(
                    mapdiv[0], mapOptions);
                var marker = new google.maps.Marker({
                        position: myLatlng, map: map,});
            }
            // do not block display because of map errors
            catch (e) { console.log("maploading error"+e); }
        });

    }
    else
    {
        $('#data').empty();
        $('#data').html("<h3>{% trans 'The requested content was not found.' %}<h3>");
    }
}

function createTable()
{
        var dataContainer = $('#data');
        dataContainer.empty();

    if(languages.length > 1)
    {
        var languageRow = $('<div class="row"></div>');
        var languageStr = $('<div class="span6"><span>{% trans "Change Language:" %}</span> </div>')
        var languageSelect = $('<select class="language"></select>');
        var i;
        for(i in languages)
        {
            var language = languages[i];
            var languageOption = $('<option value="' + i +'">' + language + '</opton>');
            languageSelect.append(languageOption);
        }
        languageStr.append(languageSelect);
        languageRow.append(languageStr);
        dataContainer.append(languageRow);
    }

    // status and navigation rows - have to separate top and bottom since jquery doesnt append the same object twice
    var topStatusNavRows = $('<div class="row"></div>');
    var statusStr = '<div class="span6"><div class="dataTables_info"><h4 class="record-pos">{% trans "Record 1 of 6" %}</h4></div></div>';
    var topStatus = $(statusStr);
    topStatusNavRows.append(topStatus);

    var pagerStr = '<div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">{% trans "← Previous" %}</a></li><li class="next disabled"><a href="#">{% trans "Next →" %} </a></li></ul></div></div>';
    var topPager = $(pagerStr);

    topStatusNavRows.append(topPager);
    dataContainer.append(topStatusNavRows);

    {% if can_edit %}
        var editDelete = '<div class="row"><div class="span6"><a id="title_edit" href="#kate" class="btn small bind-edit disabled">{% trans "edit" %}</a>&nbsp;<a href="#"class="btn btn-small btn-danger">{% trans "Delete" %}</a></div></div>';
        dataContainer.append(editDelete);
    {% endif %}

    function createQuestionTable(tree, lvl) {
        // prepare template to be filled by sammy.meld
        var idx, qtree;
        var dtable = $('<table class="table table-bordered table-striped"></table');
        var tHead = $('<thead><tr><th class="header" width="50%">{% trans "Question" %}</th><th class="header">{% trans "Response" %}</th></tr></thead>');
    var tBody = $('<tbody></tbody>');
        if (!lvl) lvl = 0;
        if (lvl==0) {
            dtable.attr('id', "data-table");
            dtable.append(tHead);
        }
        var question = tree['question'];
        var nlvl = lvl+1;
        var trData = $('<tr/>');
        var tr_classes = [];
        tr_classes = ' inslvl'+lvl;
        if(lvl>1) tr_classes += ' nested';
        if(question) tr_classes += ' '+question.type;
        trData.addClass(tr_classes);
        var tdData = $('<td/>');
        var tdLabel = $('<td/>');
        // on groups, notes, repeat, no value
        // only a sub table
        if(tree['questions'].length > 0) {
            $(tree['questions']).each(function(idx, qtree) {
                var innerT = createQuestionTable(qtree, lvl+1);
                tdData.append(innerT);
            });
        }
        if(question) {
            for(idx in languages) {
                var language = languages[idx];
                var label = question.getLabel(language);
                var style = "display:none;";
                var spanLanguage = $(
                    '<span class="language language-' + idx
                    + '" style="'+ style
                    + '">'+ label
                    + '</span>');
                tdLabel.append(spanLanguage);
            }
            trData.append(tdLabel);
            if (question.type == "repeat" ) {
                var filtered = $(
                    '<table><tr class="'+nlvl+'"/></table>');
                var nodes = $('tr.inslvl'+nlvl, tdData);
                $('tr', filtered).append(nodes);
                tdData.html('');
                tdData.append(filtered);
            }
        }
        if (lvl == 0) {
            tdData = $('tr.inslvl'+(lvl+1), tdData);
            trData = tdData;
        } else {
            trData.append(tdData);
        }
        // on leafs, display value
        if(tree['questions'].length==0) {
            tdData.addClass('leaf');
        }
        if(question) {
            var skey_parts = [question.name];
            var ac_question = question;
            while(ac_question.parent!==null) {
                ac_question = ac_question.parent;
                skey_parts.push(ac_question.name);
            }
            skey_parts.reverse();
            tdData.attr('data-key',skey_parts.join("_"));
        }
        tBody.append(trData);
        dtable.append(tBody);
        if (lvl == 0) {
            tBody.append(
                '<tr><td><span class="language language-0"'
                + ' style="display:none"'
                + '>Attachments</span></td>'
                + '<td class="attachments leaf"><ul data-key="_attachments"/></td>'
                + '</tr>'
            );
        }
        return dtable;
    }
    table = createQuestionTable(questionsTree);

    dataContainer.append(table);

    var bottomStatusNavRows = $('<div class="row"></div>');
    var bottomStatus = $(statusStr);
    bottomStatusNavRows.append(bottomStatus);

    var bottomPager = $(pagerStr);

    bottomStatusNavRows.append(bottomPager);
    dataContainer.append(bottomStatusNavRows);

    $('select.language').change(function(){
        setLanguage(languages[parseInt($(this).val())]);
    });

    // set default language
    setLanguage(languages[0]);
}

function parseLanguages(children)
{
    // run through question objects, stop at first question with label object and check it for multiple languages
    for(questionName in children)
    {
        var question = children[questionName];
        if(question.hasOwnProperty("label"))
        {
            var labelProp = question["label"];
            if(typeof(labelProp) == "string")
                languages = ["default"];
            else if(typeof(labelProp) == "object")
            {
                for(key in labelProp)
                {
                    languages.push(key)
                }
            }
            break;
        }
    }
    if (languages.length == 0) {
    	languages.push('en');
    }
}
</script>


 <div id="delete-modal" class="modal hide fade">
            <div class="modal-header">
              <a data-dismiss="modal" class="close">&times;</a>
              <h3>{% trans "Delete Confirmation" %}</h3>
            </div>
            <div class="modal-body">
              <p>{% trans "Are you sure you want to delete this record. If you are unsure about deleting this record press 'Cancel'." %}</p>
            </div>
            <div class="modal-footer">
              <a href="#" onclick="$('#delete-modal').modal('hide');" class="btn btn-primary">{% trans "Delete" %}</a>
              <a href="#" onclick="$('#delete-modal').modal('hide');" class="btn secondary">{% trans "Cancel" %}</a>
            </div>
          </div>
<script type="text/javascript" charset="utf-8" src="/static/js/instance.js"></script>
<script type="text/javascript">
$('#loading')
    .ajaxStart(function() {
        $(this).show();
    })
    .ajaxStop(function() {
        $(this).hide();
    });
</script>
{% endblock %}
